* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    background: #4c2152;
    background: linear-gradient(90deg, rgba(76, 33, 82, 1) 0%, rgba(30, 53, 201, 1) 100%);
    min-height: 100dvh;
}

body {
    border: 1px solid black;
    width: min(900px, 95dvw);
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 16px;
    margin: 16px 0px 16px 0px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.144);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    margin-bottom: 16px;
}

h1::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.144);
    height: 4px;
    width: 120%;
    top: 100%;
    margin-top: 8px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%
}

li {
    border: 2px solid rgba(140, 0, 255, 0.199);
    padding: 10px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.349);
    box-sizing: border-box;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.658);
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}