section {
    margin: 10px 0px;
    padding-left: 10px;
    background-color:lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
}

h2 {
    color: darkgray;
    font-weight: lighter;
}

.controls {
    display: flex;
    align-items: center;
}

button {
    margin: 0px 15px;
    padding: 10px;
}